.cardLinner {
  width: 100%;
  text-align: center;
  display: inline-block;
  height: 880px;
}

.cardTitle {
  margin-top: 10px;
  font-weight: bold;
}

.cardHR {
  width: 330px !important;
  margin-left: auto;
  margin-right: auto;
}

.planID {
  width: 84%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.planID label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.planID input {
  margin-left: 25px;
  width: 70%;
  padding-left: 15px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  color: red;
  font-weight: bold;
}

.planDetails {
  text-align: left;
  width: 84%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.detailName {
  margin-top: 25px;
  background-color: rgba(202, 214, 153, 0.815);
  padding: 5px;
  border-radius: 5px;
  width: 100%;
}

.planDetails ul {
  list-style-type: circle;
  font-size: 16px;
  margin-left: 50px;
  background-color: rgba(222, 231, 186, 0.815);
  border-radius: 10px;
  margin-top: 5px;
}

.quotation {
  min-height: 50px;
  background-color: rgba(222, 231, 186, 0.815);
  border-radius: 10px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.QuotateLabel {
  margin-top: 0px !important;
}

.quoteDetails {
  margin-left: 10px;
  width: 100px;
}

.amount {
  font-weight: bold;
}

.dis {
  color: green;
}

.Ltot {
  color: red;
  font-weight: bold;
}

.billInputs {
  height: 20px;
  text-align: right;
  padding-right: 15px;
}

.tot {
  color: red;
}

.cardBtnControl {
  margin-top: 10px;
  padding-bottom: 10px;
}

.btnEdit {
  width: 49%;
  border: none;
}

.btnDelete {
  width: 49%;
  float: right;
  background-color: red;
  border: none;
}

.btnDelete:hover {
  background-color: rgb(172, 0, 0);
}

.btnDelete:focus {
  background-color: rgb(172, 0, 0);
}

.description {
  padding: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
